/* Empty. Add your own CSS if you like */
#yellow{
    color:black;
    background-color: yellow;
    padding:10px;
     padding:5px;
    text-align:center;
}
#orange{
    color:black;
    background-color: orange;
    padding:10px;
     padding:5px;
    text-align:center;
}
#red{
    color:black;
    background-color: red;
    padding:5px;
    text-align:center;
    
   
}
.weatherIcon{
    height:40px;
    width:auto;
}