<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">News and Marine Notices</div>
            <div class="list">
                <a class="item item-text-wrap" ng-repeat="item in nodes" ng-click="browse(item.uri.replace('api/', ''))">
                    <h2>{{item.title}}</h2>
                </a>
            </div>
            <div class="item item-divider"></div>
        </div>
</ion-content>
</ion-view> 
