<ion-view view-title="Home">
    <ion-content class="padding">
        <div class="list card">
            <div class="item item-divider">Page 1</div>
            <div class="item item-body">
               <h2>Navigation News</h2>
             
            </div>
        </div>
        <ion-list>
            <ion-item class="item-remove-animate item-icon-right" ui-sref="weather">
            <h2>Inland lake weather </h2>
            <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-remove-animate item-icon-right" ui-sref="journeyTime">
                <h2>Journey time clalculator</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-remove-animate item-icon-right" ui-sref="checkList">
                <h2>Pre departure check list</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

            <ion-item class="item-remove-animate item-icon-right" ui-sref="Info">
                <h2>Info</h2>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view> 