<ion-view view-title="Info" class="pane1">
    <ion-content class="padding">
      
        <div class="row">
            <div class="col mainPanel"><h3><span>Today</span></h3></div>
        </div>
            
        <div class="row">
            <div class="col mainPanel"><img src="img/01d.png" style="height:70px;" /><h3><span>Sunny</span></h3></div>
            <div class="col mainPanel"><img src="img/temp3.png" style="height:70px;" /><h3><span>16&#8451</span></h3></div>
        </div>

        <div class="row">
            <div class="col mainPanel"><img src="img/SE.png" style="height:60px;" /><h3><span>SE</span></h3></div>
            <div class="col mainPanel"><img src="img/wind.png" style="height:60px;" /><h3><span>43 kph</span></h3></div>
         </div>

        <div class="row">
            <div class="col subPanel">
                <h4><span>Wind - Force 6</span></h4>
                <h4><span>Description - Moderate breeze.</span></h4>
                <h4><span>Small waves with breaking crests. Fairly frequent whitecaps.</span></h4>
            </div>
        </div>

        <div class="row">
            <div class="col subPanel">
                <table>
                    <tr><th>Time</th><th>W.Speed</th><th>W.Dir</th><th>Force</th></tr>
                    <tr><td>0600</td><td>20kph</td><td>SE</td><td>4</td></tr>
                    <tr><td>0600</td><td>20kph</td><td>SE</td><td>4</td></tr>
                    <tr><td>0600</td><td>20kph</td><td>SE</td><td>4</td></tr>
                    <tr><td>0600</td><td>20kph</td><td>SE</td><td>4</td></tr>
                    
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col mainPanel"><h3><span>Tuesday</span></h3></div>
        </div>

        <div class="row">
            <div class="col mainPanel"><img src="img/01d.png" style="height:50px;" /><h3><span>Sunny</span></h3></div>
            <div class="col mainPanel"><img src="img/temp3.png" style="height:50px;" /><h3><span>16&#8451</span></h3></div>
            <div class="col mainPanel"><img src="img/SE.png" style="height:50px;" /><h3><span>SE</span></h3></div>
            <div class="col mainPanel"><img src="img/wind.png" style="height:50px;" /><h3><span>43 kph</span></h3></div>
        </div>

        <div class="row">
            <div class="col mainPanel"><h3><span>Wednesday</span></h3></div>
        </div>

        <div class="row">
            <div class="col mainPanel"><img src="img/01d.png" style="height:50px;" /><h3><span>Sunny</span></h3></div>
            <div class="col mainPanel"><img src="img/temp3.png" style="height:50px;" /><h3><span>16&#8451</span></h3></div>
            <div class="col mainPanel"><img src="img/SE.png" style="height:50px;" /><h3><span>SE</span></h3></div>
            <div class="col mainPanel"><img src="img/wind.png" style="height:50px;" /><h3><span>43 kph</span></h3></div>
        </div>

        <!--<div class="row">
            <div class="col mainPanel"><img src="img/SE.png" style="height:60px;" /><h3><span>SE</span></h3></div>
            <div class="col mainPanel"><img src="img/wind.png" style="height:60px;" /><h3><span>43 kph</span></h3></div>
        </div>-->

       
       
      
    </ion-content>
</ion-view>