<ion-view view-title="Lough Ree">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-divider">Current Weather</div>
            <div class="item item-divider" ng-show="show == 'msg1'" id="yellow">There is a status Yellow warning in effect!</div>
            <div class="item item-divider" ng-show="show == 'msg2'" id="orange">There is a status Orange warning in effect!</div>
            <div class="item item-divider" ng-show="show == 'msg3'" id="red">There is a status Red warning in effect!</div>
               
            <div class="item item-body" style="padding:0px;">
                <div class="row" style="text-align:center;">
                    <div class="col" style=""><img src="{{weatherIcon}}" class="weatherIcon"/><h2>{{weather}}</h2></div>
                    <div class="col" style=""><img src="{{windDirIcon}}" class="weatherIcon" /><h2>{{windDir}}</h2></div>
                    <div class="col" style=""><img src="img/tempIcons/temp3.png" height="50" width="28" /><h2>{{temp}}  &#8451</h2></div>
                    <div class="col" style=""><img src="img/windIcons/wind.png" class="weatherIcon" /><h2>{{windSpeed}} Kph</h2></div>
                </div>
            </div>
            <div class="item item-divider">Beaufort Scale</div>

            <div class="row">
                <div class="col">
                    <strong>Wind:</strong> Force {{beaufortNum}}<br />
                    <strong>Description:</strong> {{beaufortDes}}<br />
                    <strong>Conditions:</strong> {{beaufortCon}}
                </div>
            </div>
            <div class="item item-divider">Outlook</div>

            <div class="outlookWrapper" style="text-align:center;">
                <div class="row">
                    <div class="col"><strong>Time</strong></div>
                    <div class="col"><strong>W.Speed</strong></div>
                    <div class="col"><Strong>W.Dir</Strong></div>
                    <div class="col"><strong>Force</strong></div>
                </div>

                <div class="row" style="background-color:#f7faff;">
                    <div class="col">{{dt}}</div>
                    <div class="col">{{ws}} Kph</div>
                    <div class="col">{{wd}}</div>
                    <div class="col">{{b}}</div>
                </div>

                <div class="row">
                    <div class="col">{{dt1}}</div>
                    <div class="col">{{ws1}} Kph</div>
                    <div class="col">{{wd1}}</div>
                    <div class="col">{{b1}}</div>
                </div>

                <div class="row" style="background-color:#f7faff;">
                    <div class="col">{{dt2}}</div>
                    <div class="col">{{ws2}} Kph</div>
                    <div class="col">{{wd2}}</div>
                    <div class="col">{{b2}}</div>
                </div>

                <div class="row">
                    <div class="col">{{dt3}}</div>
                    <div class="col">{{ws3}} Kph</div>
                    <div class="col">{{wd3}}</div>
                    <div class="col">{{b3}}</div>
                </div>

                <div class="row" style="background-color:#f7faff;">
                    <div class="col">{{dt4}}</div>
                    <div class="col">{{ws4}} Kph</div>
                    <div class="col">{{wd4}}</div>
                    <div class="col">{{b4}}</div>
                </div>
            </div>
        </div>
        <!--<div class="list card">
            <div class="item item-divider">Tomorrow</div>
            <div class="item item-body">
              
           
            </div>
        </div>-->
    </ion-content>
</ion-view>