<ion-view view-title="Latest Weather">
    <ion-content class="padding">
      <div class="list card">

          <a class="item item-icon-right" href="#/app/loughRee">
              <i class="icon ion-ios-arrow-right"></i>
              Lough Ree

          </a>
          <a class="item item-icon-right" href="#/app/loughAllen">
              <i class="icon ion-ios-arrow-right"></i>
              Lough Allen
          </a>
          <a class="item item-icon-right" href="#/app/loughDerg">
              <i class="icon ion-ios-arrow-right"></i>
              Lough Derg
          </a>

          <!--<ion-item href="#/app/loughRee">Lough Ree </ion-item>
          <ion-item href="#/app/loughAllen">Lough Allen </ion-item>
          <ion-item href="#/app/loughDerg">Lough Derg </ion-item>-->

      </div>

    </ion-content>
</ion-view>