<ion-view view-title="Latest Weather">
    <ion-content class="padding">
      <div class="list card">

          <a class="item item-icon-right" href="#/app/loughRee">
              <i class="icon ion-ios-arrow-right"></i>
              Lough Ree

          </a>
          <a class="item item-icon-right" href="#/app/loughAllen">
              <i class="icon ion-ios-arrow-right"></i>
              Lough Allen
          </a>
          <a class="item item-icon-right" href="#/app/loughDerg">
              <i class="icon ion-ios-arrow-right"></i>
              Lough Derg
          </a>

          <!--<ion-item href="#/app/loughRee">Lough Ree </ion-item>
          <ion-item href="#/app/loughAllen">Lough Allen </ion-item>
          <ion-item href="#/app/loughDerg">Lough Derg </ion-item>-->

      </div>

        <div class="card">
            <div class="item item-divider" style="text-align:center;">Disclaimer</div>
            <div style="padding:10px;">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis suscipit mi a porttitor. Sed ac volutpat mi. Integer vehicula mi justo, nec varius justo hendrerit ut. Nullam id arcu leo. Curabitur at neque quis lorem posuere rutrum quis vel nunc. Phasellus pulvinar est non libero vulputate ornare. In hac habitasse platea dictumst.
                </p>
            </div>
           
            <div class="item item-divider" style="text-align:center;"> <p></p></div>
          

        </div>

    </ion-content>
</ion-view>